body {
    background: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*table {*/
/*    !*kad gautume 1 single borderi ir nesidubliuotu*!*/
/*    border-collapse: collapse;*/
/*    width: 50%;*/
/*    margin: 50px auto;*/
/*    */
/*    background-color: whitesmoke;*/
/*}*/

